@page "{searchString?}/{searchDouble?}"

@using Pages.Student
@model IndexModel

<h1>Index page</h1>
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
        <input type="text" asp-for="SearchDoubleGreates" />
        <input type="submit" value="Greates" />
        <input type="text" asp-for="SearchDoubleLess" />
        <input type="submit" value="Less" />
    </p>
    <p>

    </p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].GPA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPA)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>|
                    <a asp-page="./Create" asp-route-id="@item.Id">Create</a>
                </td>
            </tr>
        }
    </tbody>
</table>